* {
	/*border: 1px solid red !important;*/
}
html {
  position: relative;
  min-height: 100%;
}
body {
	color: #747784;
	font-weight: 300;
  margin-bottom: 50px;
  /*background: #e6e6e6;*/
}
option:not(:checked) { 
  background-color: #FFF;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #f5f5f5;
}
.footer img {
  position: absolute;
  max-height:100%;
  display:inline;
}
.navbar{
  background-color: #f5f5f5;
  font-family: 'Forum';
}
.navbar img {
  height:70px;
  width:auto;
  display:inline;
}
.navbar a {
  margin-right:7px;
  margin-left:7px;
}
.title-super40-div {
  position:relative;
  padding-top:0px;
  height:70px;
}
.title-super40-user {
  position:absolute;
  display:inline-block;
  right:0;
  margin:0 auto;
  padding:0px;
}
h1 {
  font-family: 'Forum';
}
h4, h3 {
  display: inline;
  font-family: 'Forum';
}
.font-600 {
  font-weight:600;
}
pre {
  white-space: pre-wrap;
  font-weight: 100;
  font-family: 'Andika';
  font-size:20px;
  white-space:pre-wrap;
  word-break:keep-all;
  border: 0px;
}
.notifyjs-copy-comment-base {
  opacity: 0.85;
  width: 200px;
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}
.comment-item {
  white-space: pre-wrap;
  word-break: break-all;
  border: 0px;
  background: #f5f5f5;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 10px 00px 10px;
}
.comment-item p {
  margin-bottom: 0px;
}
.monospace {
  font-family: 'Consolas', "Courier New", 'monospace';
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.disabled-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    pointer-events: none;
    background:inherit;
}
a {
  text-decoration: underline;
}
.row1 [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row1{
  overflow: hidden; 
}
.title-super40 {
	font-size: 40px;
  line-height: 100%;
  height: 100%;
  text-decoration: none;
  display:inline-block;
  margin-top:10px
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.section {
  background:#d6d6d6;
  border-radius:8px;
}
.post {
  /*background:#BCBBBB;*/
  min-height:200px;
}
.post img {
  max-height:120px;
  max-width:100%;
}
.comment {
  overflow:hidden;
  min-height:180px;
  padding-bottom: 30px;
}
.comment-avatar {
  max-height:120px;
  max-width:100%;
  float:right;
}
.img-post-locked {
  max-height:22px;
  float:right;
}
.img-thumb-up {
  max-height:30px;
  cursor:pointer;
  display:inline;
  float:none;
}
.comment-quote {
  background: #FFE3D1;
}
.cite {
  float:right;
  text-decoration:underline;
  cursor:pointer;
}
.submit-div {
  padding-left:0px;
  padding-right:0px;
  margin-top:20px;
  margin-bottom:10px;
}
.row-space {
  margin-top:20px;
  margin-bottom:20px;
}
.vote-select {
  max-width:30%;
  display:inline-block;
}
.vote-target {
  background-color:lightgreen;
}
.vote-target-selected {
  background-color:lightgreen !important;
}
.vote-option {
  background-color:#fff;
}
.botton-link {
  background: none !important;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
.comment-text {
  border-left: 1px #008BBA solid;
  border-right: 1px #008BBA solid;
  margin-bottom:-99999px;
  padding-bottom:99999px;
}
.wmd-panel {
  margin: 0 auto !important;
  width: 100% !important;
}
@media (max-width: 325px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  .title-super40 {
    font-size: 30px;
    line-height: 100%;
    height: 100%;
  }
}
.form-signin {
  /*max-width: 330px;*/
  padding: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin select {
  max-width:35%;
  display:inline-block;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  max-width: 330px;
  display: inline-block;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="number"] {
  max-width: 70px;
  display:inline-block;
}
.form-signin input[type="submit"] {
  margin-bottom: 20px;
}
.inline {
  display: inline;
}
.errorlist {
  padding: 15px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-top-color: #e4b9c0;
  color: #843534;
  content: "\e209";
}