*.py[co]
*.sw[po]
*.bak
*.orig
*~
.project
.pydevproject
wsgi/mafpub/media/*
wsgi/mafpub/identicon/migrations/*
wsgi/mafpub/mafiaapp/migrations/*
fixtures/
!__init__.py
__pycache__/
secret.txt
*.log
.idea/
