{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Галамафия 2.0{% endblock %}</title>
	<link rel="icon" href="{% static 'mafiaapp/img/favicon.ico' %}">



	
<!--	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'mafiaapp/css/style.css' %}">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	-->
<!--
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
	<link rel="stylesheet" href="{% static 'mafiaapp/css/style.css' %}">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intercom.js/0.1.4/intercom.min.js"></script>	
	-->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'mafiaapp/vendor/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'mafiaapp/vendor/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'mafiaapp/vendor/summernote.css' %}">
	<link rel="stylesheet" href="{% static 'mafiaapp/css/style.css' %}">

	<script type="text/javascript" src="{% static 'mafiaapp/vendor/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mafiaapp/vendor/notify.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mafiaapp/vendor/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mafiaapp/vendor/summernote.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'mafiaapp/vendor/intercom.min.js' %}"></script>
	

</head>

<body>
<div class="wrapper">

{% block header %}
<header >
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 "></div>

			<div class="col-md-6 col-sm-12 col-xs-12 text-center padding-0">
				<a href="/">
					<span class="header-title">Галактическая мафия 2.0</span>
				</a>
			</div>

			<div class="col-md-3 col-sm-12 col-xs-12 text-right">
				{% if user.is_authenticated %}
					<h4>
						<a href="{% url 'mafiaapp:profile' user=user.user.nickname %}">{{user.user.nickname}}</a>
						<a href="/logout">Logout</a>
					</h4>
					<img src="{{ user.user.avatar.url }}">
				{% else %}
					<h4>
						<!-- <a href="#" class="text-btn" data-toggle="modal" data-target="#modal-login">Логин</a>
						 / 
						<a href="#" class="text-btn" data-toggle="modal" data-target="#modal-register">Регистрация</a> -->
						<a href="{% url 'mafiaapp:form_login' %}" class="text-btn" >Логин</a>
						 / 
						<a href="{% url 'mafiaapp:form_register' %}" class="text-btn" >Регистрация</a>
					</h4>
				{% endif %}
			</div>
		</div>
	</div>
</header>
{% endblock %}

<main>
<div class="container-fluid">
	{% block content %}{% endblock %}
</div>
</main>

<footer >
<div class="container-fluid">
	<h5>© 2016 Ruslan Pozin. <a href="https://github.com/prusya/mafpub" target="new">View on GitHub <img src="{% static 'mafiaapp/img/invertocat.png' %}"></a></h5>
</div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82393292-1', 'auto');
  ga('send', 'pageview');

 /* function Register() {
  	$("#modal-register-alert-danger").attr('hidden', '');
  	$("#modal-register-alert-danger strong").text('');
  	$("#modal-register-alert-info").attr('hidden', '');
  	$("#modal-register-alert-info strong").text('');
  	$.ajax({
  		method: 'POST',
  		url: '{% url "mafiaapp:ajax_register"%}',
  		data: {
  			email: $('#register-email').val(),
  			csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"').val(),
  		}
  	}).always(function(data) {
  		if (data['status'] === 'FAIL') {
  			$("#modal-register-alert-danger").removeAttr('hidden');
  			$("#modal-register-alert-danger strong").text(data['message']);
  		}
  		if (data['status'] === 'OK') {
  			$("#modal-register-alert-info").removeAttr('hidden');
  			$("#modal-register-alert-info strong").text(data['message']);
  		}
  	})
  }

  function Login() {
  	$("#modal-login-alert-danger").attr('hidden', '');
  	$("#modal-login-alert-danger strong").text('');
  	$("#modal-login-alert-info").attr('hidden', '');
  	$("#modal-login-alert-info strong").text('');
  	$.ajax({
  		method: 'POST',
  		url: '{% url "mafiaapp:ajax_login"%}'+'/?next='+document.location,
  		data: {
  			email: $('#login-email').val(),
  			password: $('#login-password').val(),
  			csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"').val(),
  		}
  	}).always(function(data) {
  		if (data['status'] === 'FAIL') {
  			$("#modal-login-alert-danger").removeAttr('hidden');
  			$("#modal-login-alert-danger strong").text(data['message']);
  		}
  		if (data['status'] === 'OK') {
  			$("#modal-login-alert-info").removeAttr('hidden');
  			$("#modal-login-alert-info strong").text(data['message']);
  			location.href = data['next']
  		}
  	})
  }*/
</script>

<!--<div class="modal fade" id="modal-login" role="dialog" aria-labelledby="LoginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="LoginLabel">Логин</h1>
			</div>
			<div class="modal-body">
				<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
					<div class="alert alert-danger" id="modal-login-alert-danger" hidden="">
    					<h5><strong></strong></h5>
					</div>
					<div class="alert alert-info" id="modal-login-alert-info" hidden="">
    					<h5><strong></strong></h5>
					</div>
					<form action="/form_login" method="post" class="form-signin">
						{% csrf_token %}
						<input type="email" name="email" placeholder="Email address" class="form-control" id="login-email" />
						<input type="password" name="password" placeholder="Password" class="form-control" id="login-password" />
						<div class="col-md-6 col-centered" style="padding:0px">
							<button type="submit" class="btn btn-default btn-primary btn-block" >
								Логин
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
			<a href="{% url 'mafiaapp:password_reset' %}" style="text-align: left;" class="text-left"><h4>Восстановить пароль</h4></a>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Закрыть
				</button>
			</div>
		</div>	
	</div>			
</div>

<div class="modal fade" id="modal-register" role="dialog" aria-labelledby="RegisterLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="RegisterLabel">Регистрация</h1>
			</div>
			<div class="modal-body">
				<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
					<div class="alert alert-danger" id="modal-register-alert-danger" hidden="">
    					<h5><strong></strong></h5>
					</div>
					<div class="alert alert-info" id="modal-register-alert-info" hidden="">
    					<h5><strong></strong></h5>
					</div>
					<form action="{% url 'mafiaapp:index' %}" method="post" class="form-signin">
						{% csrf_token %}
						<input type="email" name="email" placeholder="Email address" class="form-control" id="register-email" />
						<div class="col-md-7 col-centered" style="padding:0px">
							<button type="button" class="btn btn-default btn-primary btn-block" onclick="Register();">
								Регистрация
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Закрыть
				</button>
			</div>
		</div>	
	</div>			
</div>-->

<!-- end wrapper -->
</div>
{#% debug %#}
</body>

</html>