{% load staticfiles %}

<script>
	function show_quote(c){
        quote = $("#"+c).clone();
        console.log(quote);
        quote.find("blockquote").remove();
        console.log(quote);
        marked_quote =  quote.text().split("\n"); //quote.innerHTML.split('\n');
        console.log('marked_quote.length='+marked_quote.length);
        for(var i = 0;i < marked_quote.length;i++){
            marked_quote[i] = '> '+marked_quote[i]
        }
        console.log('marked_quote')
        console.log(marked_quote)

        quote_author = document.getElementById('author'+c).innerHTML;

        inp = document.getElementById('ihatejs');
        inp.value = marked_quote.join("\n");
        inp.select();
        document.execCommand('copy');

        ta = document.getElementById('id_comment');
        if (ta.value == ''){
            ta.value = marked_quote.join("\n")+' &mdash; <cite>'+quote_author+'</cite>\n\n'
        }
        else {
            ta.value = ta.value+'\n'+marked_quote.join("\n")+' &mdash; <cite>'+quote_author+'</cite>\n\n'
        }

        document.getElementById('id_comment').focus();
    }

    $(document).ready(function(){
        $(".content-markdown").each(function(){
            $(this).html( marked($(this).text()) )
        })
    })
</script>

<div class="row">
<div class="col-md-12 col-centered text-center">
{% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
</div>

{% for comment in page_obj %}
<div class="row comment" {% if forloop.last %}id="last"{% endif %}>
    <div class="col-md-2 text-right">
        <a href="{% url 'mafiaapp:profile' user=comment.author.user.nickname %}">
        <h3 id='author{{comment.id}}' style="font-weight:600">{{ comment.author.user.nickname }}</h3><br>
        <img src="{{ comment.author.user.avatar.url }}" style="max-height:120px;max-width:100%;float:right" />
        </a>
        <span>Сообщений: {{ comment.author.comments_number }}</span>
    </div>

    <div class="col-md-8 col-centered comment-text">
        <h3>{# placeholder to match height with nickname on the left #}</h3><span>{{ comment.date|date:"Y-m-d H:i" }}</span>
        <span style="float:right">Сообщение #{{page_obj.number}}/{{ forloop.counter }}</span>
        <pre id="{{comment.id}}" class="content-markdown">{{ comment.text }}</pre>
        <img src="{% static 'mafiaapp/Thumb-up.svg' %}" style="max-height:30px;cursor:pointer;"> {% if comment.like > 0 %}{{ comment.like }}{% endif %}
        {% if user.user.nickname in game.anchor %}
        <span>
        <!--<form action="{#% url 'mafiaapp:delete_comment' game_slug=game.slug post_slug=post.slug pk=comment.id %#}" method="post" class="inline">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="btn btn-primary" >
        </form>-->
        <a href="/admin/mafiaapp/gamecomment/{{comment.id}}" target="blank"><input type="submit" value="Редактировать" class="btn btn-primary" ></a>
        </span>
      {% endif %}
      <span style='float:right;text-decoration:underline;cursor:pointer;' onClick='show_quote({{comment.id}});'><h4>Цитировать</h4></span>
    </div>
</div>
{% endfor %}

<div style="height:1px;overflow:hidden"><input id='ihatejs' value='' style="margin-top:2px;"></div>

<div class="row">
<div class="col-md-12 col-centered text-center">
{% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
</div>