{% extends 'mafiaapp/base.html' %}
{% load filters %}
{% block content %}
<div class="wrap col-centered">

<div class="row">
    <div class="col-md-12 text-center">
        <h2>{# palceholder #}&#160;</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 col-centered section">
        <h2 >Текущая игра</h2>
    </div>
</div>

{% for game in game_list|filter_state:'current' %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</a></h3>
        <br>
        <h5>{{ game.status }}</h5>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3>Сейчас не проводится игра</h3>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 col-centered section">
        <h2>Предстоящая игра</h2>
    </div>
</div>

{% for game in game_list|filter_state:'upcoming' %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</a></h3>
        <br>
        <h5>{{ game.status }}</h5>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3>Нет будущих игр</h3>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 col-centered section">
        <h2>Прошедшие игры</h2>
    </div>
</div>

{% for game in game_list|filter_state:'past' %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</h3></a>
        <br>
        <h5>{{ game.status }}</h5>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3>Нет завершенных игр</h3>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 col-centered section">
        <h2>Новости, объявления, обсуждения</h2>
    </div>
</div>

{% for post in post_list %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3><a href="{% url 'mafiaapp:display_post' post_slug=post.slug %}">{{ post.title|safe }}</a></h3>
        <br>
        <h5>Дата:</h5> <h4>{{ post.date|date:"Y-m-d" }}</h4><h5>. Автор:</h5> <h4><a href="{% url 'mafiaapp:profile' user=post.author.nickname %}">{{ post.author }}</a></h4>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-sm-9 col-xs-11 col-centered">
        <h3>Нет тем</h3>
    </div>
</div>
{% endfor %}

</div>
{% endblock content %}