{% extends 'mafiaapp/base.html' %}
{% load filters %}
{% block content %}
<div class="wrap">

<div class="row">
    <div class="col-md-7 col-xs-7 col-sm-7 text-center">
        <h1>{# palceholder #}&#160;</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-xs-7 col-sm-7 col-centered section">
        <h1 class="font-forum">Текущая игра</h1>
    </div>
</div>

{% for game in game_list|filter_state:'current' %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</h3></a>
        <p>{{ game.status }}</p>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3>Сейчас не проводится игра</h3>
        <p>&#160;</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-xs-7 col-sm-7 col-centered section">
        <h1>Предстоящая игра</h1>
    </div>
</div>

{% for game in game_list|filter_state:'upcoming' %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</a></h3>
        <p>{{ game.status }}</p>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3>Нет будущих игр</h3>
        <p>&#160;</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-xs-7 col-sm-7 col-centered section">
        <h1>Прошедшие игры</h1>
    </div>
</div>

{% for game in game_list|filter_state:'past' %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3><a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</h3></a>
        <p>{{ game.status }}</p>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3>Нет завершенных игр</h3>
        <p>&#160;</p>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-7 col-xs-7 col-sm-7 col-centered section">
        <h1>Новости, объявления, обсуждения</h1>
    </div>
</div>

{% for post in post_list %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <a href="{% url 'mafiaapp:display_post' post_slug=post.slug %}"><h3>{{ post.title|safe }}</h3></a>
        <p>Дата: <b>{{ post.date|date:"Y-m-d" }}</b>. Автор: <b><a href="{% url 'mafiaapp:profile' user=post.author.nickname %}">{{ post.author }}</a></b></p>
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-centered">
        <h3>Нет тем</h3>
        <p>&#160;</p>
    </div>
</div>
{% endfor %}

</div>
{% endblock content %}