{% extends 'mafiaapp/base.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}
<div class="wrap col-centered">

{% block link %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-centered text-center">
        <h2>
        	<a href="{% url 'mafiaapp:display_game' game_slug=game.slug %}">{{ game.title|safe }}</a> {% if game.day > 0 and game.state == 'current' %}(День {{game.day}}){% endif %} / {{ post.title }}
        </h2>
    </div>
</div>
{% endblock link %}

{% include 'mafiaapp/post.html' %}

{% if 'description' in post.tags %}
{% block register %}
	{% include 'mafiaapp/participate.html' %}
{% endblock register %}
{% endif %}

{% if 'private' in post.tags %}
{% block participant_actions %}
	{% include 'mafiaapp/participant_actions.html' %}
{% endblock participant_actions %}
{% endif %}

{% block comments %}
{% if 'description' in post.tags %}
	{% include 'mafiaapp/comments.html' %}
{% else %}
	{% include 'mafiaapp/game_comments.html' %}
{% endif %}
{% endblock comments %}

{% block reply %}
{% include 'mafiaapp/reply_game.html' %}
{% endblock reply %}

</div>
{% endblock content %}