{% extends 'mafiaapp/base.html' %}
{% load filters %}
{% load static %}

{% block content %}
<div class="wrap col-centered">

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-centered text-center">
		<h2>
			<a href="{% url 'mafiaapp:dashboard' %}">Главная страница</a> / {{ game.title|safe }} {% if game.day > 0 and game.state == 'current' %}(День {{game.day}}){% endif %}
		</h2>
	</div>
</div>
<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 col-centered section">
        <h2>Каюты</h2>
    </div>
</div>
{% with private_list=gamepost_list|filter_tag:'private' %}
{% with morgue_list=gamepost_list|filter_tag:'morgue' %}

{% if private_list or morgue_list %}
	{# game is past. display all private quarters and morgue #}
	{% if game.state == 'past' %}
        <div class="row">
            <div class="col-md-6 col-xs-5 col-sm-5"></div>
            <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
            <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
        </div>

		{% for private in private_list %}
            <div class="row">
                <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                    <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                    {% if not private.allow_comment %}
                    <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                    {% endif %}
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=private.slug %}">{{ private.text|safe }}</a></h3>
                </div>
                {% with comments=private.gamecomment_set.all %}
                {% if comments.count > 0 %}
                    <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                        <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                        <h5>{{ comments.count }}</h5>
                    </div>
                    <div class="col-md-3 col-xs-5 col-sm-5">
                        <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                        <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                        </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                    </div>
                {% endif %}
                {% endwith %}
            </div>
    	{% endfor %}

		{% for morgue in morgue_list %}
            <div class="row">
                <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                    <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                    {% if not morgue.allow_comment %}
                    <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                    {% endif %}
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=morgue.slug %}">{{ morgue|safe }}</a></h3>
                </div>
                {% with comments=morgue.gamecomment_set.all %}
                {% if comments.count > 0 %}
                    <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                        <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                        <h5>{{ comments.count }}</h5>
                    </div>
                    <div class="col-md-3 col-xs-5 col-sm-5">
                        <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                        <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                        </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                    </div>
                {% endif %}
                {% endwith %}
            </div>
    	{% endfor %}

	{# game is upcoming or current. display depending on scope #}
	{% else %}
		{% if registered %}
            <div class="row">
                <div class="col-md-6 col-xs-5 col-sm-5"></div>
                <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
                <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
            </div>

			{# user is game.anchor. display all private quarters and morgue #}
			{% if user.user.nickname in game.anchor %}

				{% for private in private_list %}
                    <div class="row">
                        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                            {% if not private.allow_comment %}
                            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=private.slug %}">{{ private.text|safe }}</a></h3>
                        </div>
                        {% with comments=private.gamecomment_set.all %}
                        {% if comments.count > 0 %}
                        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h5>{{ comments.count }}</h5>
                        </div>
                        <div class="col-md-3 col-xs-5 col-sm-5">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
    			{% endfor %}

                {% for morgue in morgue_list %}
                    <div class="row">
                        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                            {% if not morgue.allow_comment %}
                            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=morgue.slug %}">{{ morgue|safe }}</a></h3>
                        </div>
                        {% with comments=morgue.gamecomment_set.all %}
                        {% if comments.count > 0 %}
                        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                            <h5>{{ comments.count }}</h5>
                        </div>
                        <div class="col-md-3 col-xs-5 col-sm-5">
                            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
    			{% endfor %}

    		{# user is regular participant. display only his private quarters #}	
			{% else %}

				{% with private=private_list|filter_tag:user.user.nickname %}
					{% for p in private %}
    				<div class="row">
                        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                            {% if not p.allow_comment %}
                            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                            {% endif %}
                        </div>
        				<div class="col-md-4 col-xs-4 col-sm-4">
            				<h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=p.slug %}">{{ p.text|safe }}</a></h3>
        				</div>
                        {% with comments=p.gamecomment_set.all %}
                        {% if comments.count > 0 %}
                        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h5>{{ comments.count }}</h5>
                        </div>
                        <div class="col-md-3 col-xs-5 col-sm-5">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                        </div>
                        {% endif %}
                        {% endwith %}
    				</div>
    				{% endfor %}
    			{% endwith %}
                
    			{% if dead %}
    				{% for morgue in morgue_list %}
    				    <div class="row">
                            <div class="col-md-2 col-sm-1 col-xs-1 text-right">
                                <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
                                {% if not morgue.allow_comment %}
                                <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
                                {% endif %}
                            </div>
        				    <div class="col-md-4 col-xs-4 col-sm-4">
        	    			    <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=morgue.slug %}">{{ morgue|safe }}</a></h3>
        				    </div>
    				    </div>
                        {% with comments=morgue.gamecomment_set.all %}
                        {% if comments.count > 0 %}
                        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h5>{{ comments.count }}</h5>
                        </div>
                        <div class="col-md-3 col-xs-5 col-sm-5">
                            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
                            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
                            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
                        </div>
                        {% endif %}
                        {% endwith %}
    				{% endfor %}
    			{% endif %}
			{% endif %}
		{% else %}
		<div class="row">
        	<div class="col-md-8 col-sm-10 col-xs-10 col-centered">
            	<h3>Нет доступных кают</h3>
        	</div>
    	</div>

		{% endif %}
	{% endif %}
{% else %}
    <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-10 col-centered">
            <h3>Нет доступных кают</h3>
        </div>
    </div>
{% endif %}

{% endwith %}
{% endwith %}

<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 col-centered section">
        <h2>Игровые дни общие</h2>
    </div>
</div>
{% with days_list=gamepost_list|filter_tag:'general_day' %}
    {% if days_list %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
    {% endif %}
    {% for day in days_list %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not day.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=day.slug %}">{{ day|safe }}</a></h3>
        </div>
        {% with comments=day.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    {% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет игровых дней</h3>
        </div>
    </div>
    {% endfor %}
{% endwith %}

{% if mafia %}
<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 col-centered section">
        <h2>Игровые дни мафии</h2>
    </div>
</div>
{% if mafia_core %}
	{% with days_list=gamepost_list|filter_tag:'mafia_day' %}
    {% if days_list %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
    {% endif %}
	{% for day in days_list %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not day.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=day.slug %}">{{ day|safe }}</a></h3>
        </div>
        {% with comments=day.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
	{% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет игровых дней</h3>
        </div>
    </div>
	{% endfor %}
	{% endwith %}
{% endif %}
{% if mafia_recruit %}
	{% with days_list=gamepost_list|filter_tag:'mafia_secret' %}
    {% if days_list %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
    {% endif %}
	{% for day in days_list %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not day.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=day.slug %}">{{ day|safe }}</a></h3>
        </div>
        {% with comments=day.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
	{% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет игровых дней</h3>
        </div>
    </div>
	{% endfor %}
	{% endwith %}
{% endif %}
{% endif %}

{% if militia %}
<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 col-centered section">
        <h2>Игровые дни милиции</h2>
    </div>
</div>
{% if militia_core %}
	{% with days_list=gamepost_list|filter_tag:'militia_day' %}
    {% if days_list %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
    {% endif %}
	{% for day in days_list %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not day.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=day.slug %}">{{ day|safe }}</a></h3>
        </div>
        {% with comments=day.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
	{% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет игровых дней</h3>
        </div>
    </div>
	{% endfor %}
	{% endwith %}
{% endif %}
{% if militia_recruit %}
	{% with days_list=gamepost_list|filter_tag:'militia_secret' %}
    {% if days_list %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
    {% endif %}
	{% for day in days_list %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not day.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=day.slug %}">{{ day|safe }}</a></h3>
        </div>
        {% with comments=day.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{% if comments.last.mask %}{{ comments.last.mask }}{% else %}{{ comments.last.author }}{% endif %}
            </h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
	{% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет игровых дней</h3>
        </div>
    </div>
	{% endfor %}
	{% endwith %}
{% endif %}
{% endif %}

<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12 col-centered section">
        <h2>Общая информация</h2>
    </div>
</div>
{% with infos=gamepost_list|filter_tag:'general' %}
{% if infos %}
    <div class="row">
        <div class="col-md-6 col-xs-5 col-sm-5"></div>
        <div class="col-md-1 col-xs-2 col-sm-2 padding-0">Сообщений</div>
        <div class="col-md-3 col-xs-4 col-sm-4">Последнее от</div>
    </div>
{% endif %}
{% for info in infos %}
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-1 text-right">
            <h4><!--placeholder to adjust height with the highest element in the row <h3>, but use <h4> to make image a bit closer to top--></h4>
            {% if not info.allow_comment %}
            <img src="{% static 'mafiaapp/img/Lock.svg' %}" class="img-post-locked">
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <h3><a href="{% url 'mafiaapp:display_game_post' game_slug=game.slug post_slug=info.slug %}">{{ info|safe }}</a></h3>
        </div>
        {% with comments=info.gamecomment_set.all %}
        {% if comments.count > 0 %}
        <div class="col-md-1 col-xs-1 col-sm-1 text-center">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h5>{{ comments.count }}</h5>
        </div>
        <div class="col-md-3 col-xs-5 col-sm-5">
            <h3><!--placeholder to adjust height with the highest element in the row <h3>--></h3>
            <h4>{{ comments.last.author }}</h4> <h5>в</h5> <h4>{{ comments.last.date|date:"H:i" }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
{% empty %}
    <div class="row">
        <div class="col-md-8 col-xs-10 col-sm-10 col-centered">
            <h3>Нет общей информации</h3>
        </div>
    </div>
{% endfor %}    
{% endwith %}

</div>
{% endblock content %}