{% extends 'mafiaapp/base.html' %}
{% load widget_tweaks %}
{% block content %}

{% if form.errors %}
<div class="row">
    <div class="col-md-8 col-centered">
            <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
            </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6 col-centered" style="text-align:center">
            <form action="" method="post" class="form-signin">
            {% csrf_token %}

            <label for="id_title">Заголовок:</label><br>
            <input id="id_title" maxlength="100" name="title" type="text"  class="form-control" value="{{game.title|safe}}" /><br>

            <label for="id_short">URL:</label><br>
            <input id="id_short" maxlength="100" name="short" type="text"  class="form-control" value="{{game.short}}" /><br>

            <label for="id_slug">Slug:</label><br>
            <input id="id_slug" maxlength="100" name="slug" type="text"  class="form-control" value="{{game.slug}}" /><br>

            <label for="id_text" style="margin-top:15px;">Описание:</label><br>
            <textarea cols="40" id="id_text" name="description" rows="10" class="form-control">{{description.text|safe}}</textarea><br>

            <label for="id_state">Фаза:</label>
            <select id="id_state" name="state" class="form-control col-centered" style="max-width:30%;display:inline-block">
            {% for value, name in game.STATE_CHOICES %}
                <option value="{{value}}" {%if value == game.state%}selected{%endif%}>{{name}}</option>
            {% endfor %}
            </select>

            <label for="id_day">День:</label>
            <input id="id_day" type="number" name="day" style="max-width:70px;display:inline-block" class="form-control" value={{game.day}} /><br>

            <label>&#160;</label><br>

            <label for="id_status">Статус:</label><br>
            <input id="id_status" maxlength="100" name="status" type="text" class="form-control" style="max-width:100%;" value="{{game.status}}" /><br>

            <label for="id_hasHeadMafia" style="margin-right:10px;margin-top:15px;">ГлавМаф назначен:</label>
            <input type="checkbox" id="id_hasHeadMafia" name="hasHeadMafia" {%if game.hasHeadMafia%}checked{%endif%} />

            <label for="id_hasRecruit" style="margin-right:10px;margin-top:15px;margin-left:10px;">Есть завербованый:</label>
            <input type="checkbox" id="id_hasRecruit" name="hasRecruit" {%if game.hasRecruit%}checked{%else%}false{%endif%} /><br>

            <label for="id_anchor" style="margin-right:10px;margin-top:15px;margin-left:10px;">Ведущие:</label><br>
            <select multiple class="form-control" id='id_anchor' name='anchor'>
                {% for user in users %}
                    <option value='{{ user.nickname }}' {% if user.nickname in game.anchor %}selected{% endif%}>{{ user.nickname }}</option>
                {% endfor %}
            </select><br>

            <label for="id_black_list" style="margin-right:10px;margin-top:15px;margin-left:10px;">Бан лист:</label><br>
            <select multiple class="form-control" id='id_black_list' name='black_list'>
                {% for user in users %}
                    <option value='{{ user.nickname }}' {% if user.nickname in game.black_list %}selected{% endif%}>{{ user.nickname }}</option>
                {% endfor %}
            </select>

            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Сохранить" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<section><p><a href="{% url 'mafiaapp:create_game_post' %}">Create Game Post</a></p></section>

<section><p><a href="{% url 'mafiaapp:create_game_mask' %}">Create Game Mask</a></p></section>


<div class="row">
    <div class="col-md-4 col-centered text-center">
        Участники
    </div>
</div>
{% for participant in participants_form %}
<div class="row cite-section">
    <div class="col-md-2"><h3>{{participant.instance.user.username}}</h3></div>
    <div class="col-md-2">as <h3>{{ participant.instance.mask.username }}</h3></div>
    <div class="col-md-2"><h3>
        {% if participant.instance.role == 'peaceful' %}
            <font style='background:lightgreen'>{{ participant.instance.role }}</font>
        {% elif participant.instance.role == 'mafia' or participant.instance.role == 'head mafia' or participant.instance.role == 'mafia barman' or participant.instance.role == 'mafia doctor' or participant.instance.role == 'mafia killer' %}
            <span style='background:lightblue'>{{ participant.instance.role }}</span>
        {% elif participant.instance.role == 'maniac' %}
            <span style='background:pink'>{{ participant.instance.role }}</span>
        {% elif participant.instance.role == 'militia' or participant.instance.role == 'head militia' or participant.instance.role == 'militia barman' or participant.instance.role == 'militia doctor' or participant.instance.role == 'militia killer' %}
            <span style='background:ivory'>{{ participant.instance.role }}</span>
        {% elif participant.instance.role == 'neutral barman' or participant.instance.role == 'neutral doctor' or participant.instance.role == 'neutral killer' %}
            <span style='background:#cccc99'>{{ participant.instance.role }}</span>
        {% else%}
        {{ participant.instance.role }}
        {% endif %}</h3>
    </div>
    <div class="col-md-2"><h3>{{ participant.instance.user.email }}</h3></div>
    
    <div class="col-md-2">
        <h3>
            <a href="{% url 'mafiaapp:login_as' username=participant.instance.user.username %}" onclick="window.open('{% url 'mafiaapp:login_as' username=participant.instance.user.username %}', 'newwindow', 'fullscreen=yes,resizable=yes,scrollbars=yes'); return false;">Login as {{ participant.instance.user.username }}</a>
            <!--<a href="http://example.com" onclick="window.open('http://example.com', 'newwindow', 'width=300, height=250'); return false;">http://example.com</a>-->
        </h3>
    </div>
    <br>
    <div class="panel-group" style="margin-bottom:0px;">
      <div class="panel panel-default">
        <a data-toggle="collapse" href="#collapse{{forloop.counter}}">
        <div class="panel-heading " style="background:#d6d6d6;">
            <span>click to unfold</span>
        </div>
        </a>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
        <form action="{% url 'mafiaapp:participant_update' pk=participant.instance.id %}?next={{request.path}}" method="post" class="form-signin">
          <div class="panel-body">
                {% csrf_token %}
                <input type="text" value="{{ game.number }}" name="game" style="display:none" />
                <input type="text" value="{{ participant.id.value }}" name="id" style="display:none" />
                {{ participant.role.label }} {{ participant.role }}
                {{ participant.prevTarget.label }} {{ participant.prevTarget }}
                {{ participant.can_ask_killer.label }} {{ participant.can_ask_killer }}
                {{ participant.can_choose_side.label }} {{ participant.can_choose_side }}
                {{ participant.sees_maf_q.label }} {{ participant.sees_maf_q }}
                {{ participant.sees_mil_q.label }} {{ participant.sees_mil_q }}
                {{ participant.can_recruit.label }} {{ participant.can_recruit }}
                {{ participant.checked_by_mil.label }} {{ participant.checked_by_mil }}
                <p>
                {% for vote in participant.instance.get_votes %}
                    {{ vote }}<br>
                {% endfor %}
                </p>
          </div>
          <div class="panel-footer">
            <input type="submit" name="action" value="Изменить" class="btn btn-default btn-primary" />
            
            </div>
        </form>  
        </div>
      </div>
    </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-md-4 col-centered text-center">
        <p>&#160;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-centered text-center">
        Маски
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
{% if masks %}
    {% for mask in masks %}
    <div class="col-md-2 text-center">
        {{ mask.username }}{% if not mask.taken %} (free){% endif %}
    </div>
        {% if forloop.counter|divisibleby:"3" %}
</div>
<div class="row">
    <div class="col-md-3"></div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<div class="row">
    <div class="col-md-4 col-centered text-center">
        <p>&#160;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Зарегистрировать ботов</label><br>
            <label>Количество:</label>
            <input id="number" type="number" name="number" style="max-width:50px" />
            <input type="button" name="set_15" value="15" onclick="getElementById('number').value=15" />
            <input type="button" name="set_20" value="20" onclick="getElementById('number').value=20" />
            <input type="button" name="set_25" value="25" onclick="getElementById('number').value=25" />
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-6 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Зарегистрировать" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>

    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Создать случайные маски</label><br>
            <label>&#160;</label><br>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Создать" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>

    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Назначить роли участникам</label><br>
            <label>&#160;</label><br>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Назначить" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-centered text-center">
        <p>&#160;</p>
    </div>
</div>

<div class="row">
    

    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Заставить ботов флудить</label><br>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Флудить" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>

    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Симулировать голосование</label>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Голосовать" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>

    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Конец дня, ночь, новый день</label>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Новый день" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <form action="" method="post" class="form-signin">
            {% csrf_token %}
            <label>Раздать маски из пула</label><br>
            <input id="game" type="text" name="game" value="{{game.number}}" style="display:none" />
            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px">
                <input type="submit" name="action" value="Раздать" class="btn btn-default btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

{#% debug %#}

{% endblock content %}