{% extends 'mafiaapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!--
{% if messages %}
<div class="row">
	<div class="col-md-3 col-centered">
		{% for message in messages %}
			{% if message.tags == 'info' %}
				<div class="alert alert-info">
    				<strong>{{ message }}</strong>
				</div>
			{% else %}
				<div class="alert alert-danger">
    				<strong>{{ message }}</strong>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}

<div class="row" style="margin-top:50px">
	<div class="col-md-3 col-centered">
		<form action="{% url 'mafiaapp:index' %}" method="post" class="form-signin">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email address" class="form-control" />
			<div class="col-md-6 col-centered" style="padding:0px">
				<input type="submit" name="submit" value="Регистрация" class="btn btn-default btn-block" />
			</div>
		</form>
	</div>
</div>

<div class="row" style="margin-top:50px">
	<div class="col-md-3 col-centered">
		{% if form.nickname.errors %}
			<p>{{form.nickname.errors}}</p>
		{% endif %}

		{% if form.password.errors %}
			<p>{{form.password.errors}}</p>
		{% endif %}

		<form action="" method="post" class="form-signin">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email address" class="form-control" />
			<input type="password" name="password" placeholder="Password" class="form-control" />
			<div class="col-md-4 col-centered" style="padding:0px">
				<input type="submit" name="submit" value="Логин" class="btn btn-default btn-primary btn-block" />
			</div>
		</form>
		<a href="{% url 'mafiaapp:password_reset' %}">Восстановить пароль</a>
	</div>
</div>
-->
<script type="text/javascript">
	var cites = [
		'Умрём весело!',
		'Одно действие. Много жертв.',
		'Семь раз отмерь. Один притворись.',
		'Томми выбыл. Твоя очередь.',
		'Больше нас - меньше вас.',
		'Хороший маф - мирный маф.',
		'Если врешь, будь краток.',
		'Случайных совпадений не бывает.',
		'Ничего личного, только бизнес.',
		'Темнее всего под фонарём.',
		'Мафия передаёт привет.',
		'Рыбу убивает открытый рот.',
		'Думай много, говори мало, пиши еще меньше.',
		'Зачем умрёт первым, ты - вторым.',
		'Мёртвые не выбирают.',
	]
	var images = [
		"{% static 'mafiaapp/Benny_Siegel.png' %}",
		"{% static 'mafiaapp/Carlo_Gambino2.png' %}",
		"{% static 'mafiaapp/Albert_Anastasia.png' %}",
		"{% static 'mafiaapp/Frank_Costello.png' %}",
		"{% static 'mafiaapp/Machine_Gun_Kelly.png' %}",
	]
	$(document).ready(function() {
		$('body').attr('background-color', '#202020');
		$("#cite").text(cites[Math.floor(Math.random()*cites.length)]);
		$('body').attr('background', images[Math.floor(Math.random()*images.length)]);
	})
</script>

<div class="row" style="position: absolute;left: 45%;top: 40%;overflow-x: hidden;width:55%">
<span style="font-size: 60px;font-family: 'Forum';font-style:italic;word-wrap: break-word;overflow-x: hidden;overflow: hidden;white-space: pre-wrap;white-space: -moz-pre-wrap !important;" id="cite">Мёртвые не выбирают.</span>
</div>

{% endblock content %}