{% extends 'mafiaapp/base.html' %}
{% load staticfiles %}

{% block header %}
<header >
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6 col-sm-12 col-xs-12 text-center">
				<a href="/">
					<span class="header-title">Галактическая мафия 2.0</span>
				</a>
			</div>

			<div class="col-md-3"></div>
		</div>
	</div>
</header>
{% endblock header %}

{% block content %}
<script type="text/javascript">
	var cites = [
		'Умрём весело!',
		'Одно действие. Много жертв.',
		'Семь раз отмерь. Один притворись.',
		'Томми выбыл. Твоя очередь.',
		'Больше нас - меньше вас.',
		'Хороший маф - мирный маф.',
		'Если врешь, будь краток.',
		'Случайных совпадений не бывает.',
		'Ничего личного, только бизнес.',
		'Темнее всего под фонарём.',
		'Мафия передаёт привет.',
		'Рыбу убивает открытый рот.',
		'Думай много, говори мало, пиши еще меньше.',
		'Зачем умрёт первым, ты - вторым.',
		'Мёртвые не выбирают.',
	]
	var images = [
		"{% static 'mafiaapp/img/Al_Capone.png' %}",
		"{% static 'mafiaapp/img/Joe_Adonis.png' %}",
		"{% static 'mafiaapp/img/Joseph_Gallo.png' %}",
		"{% static 'mafiaapp/img/Salvatore_Lucania.png' %}",
		"{% static 'mafiaapp/img/Benny_Siegel.png' %}",
		"{% static 'mafiaapp/img/Carlo_Gambino.png' %}",
		"{% static 'mafiaapp/img/Albert_Anastasia.png' %}",
		"{% static 'mafiaapp/img/Frank_Costello.png' %}",
		"{% static 'mafiaapp/img/Machine_Gun_Kelly.png' %}",
	]
	$(document).ready(function() {
		$('body').css('background-image', 'none');
		$('body').addClass('index-body');
		$("#cite").text(cites[Math.floor(Math.random()*cites.length)]);
		$('#portrait').attr('src', images[Math.floor(Math.random()*images.length)]);
	})
</script>

<div class="col-centered" style="max-width: 1200px; font-size: 16px;">
<div class="row">
	<div class="col-md-5 col-sm-12 col-xs-12 index-top10 text-center">
		<img src="" id="portrait">
	</div>
	<div class="col-md-7 col-sm-12 col-xs-12 index-top30 text-center">
		<span class="index-cite" id="cite"></span>
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-sm-12 col-xs-12"></div>
	<div class="col-md-7 col-sm-12 col-xs-12 text-center">
		<h1 >
			<!-- <a href="#" class="text-btn" data-toggle="modal" data-target="#modal-login">Логин</a>
			 / 
			<a href="#" class="text-btn" data-toggle="modal" data-target="#modal-register">Регистрация</a> -->
			<a href="{% url 'mafiaapp:form_login' %}" class="text-btn" >Логин</a>
			 / 
			<a href="{% url 'mafiaapp:form_register' %}" class="text-btn">Регистрация</a>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-sm-12 col-xs-12"></div>
	<div class="col-md-7 col-sm-12 col-xs-12 text-center">
		<h1>
			<a href="dashboard/p/where_am_i/">Куда я попал?</a>
		</h1>
	</div>
</div>
</div>
{% endblock content %}