{% block participant_actions %}

<script type="text/javascript">    
    $(document).ready(function(){ 
        $("#id_heal, #id_hang, #id_spoil, #id_shoot, #id_leader, #id_recruit, #id_contract, #id_check, #id_choose").change(function(){
            var vote = $(this).find(".vote-target-selected");
            var selected = $(this).find(":selected");
            if (selected.text() != vote.text()) {
                $(this).css("background-color", "#fff");
            } else {
                $(this).css("background-color", "lightgreen");
            }
        });
    })
</script>

{% if not dead %}
{% if game.day > 0 %}
{% if can_hang %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Общее голосование</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Hang">
            {% csrf_token %}
            <h5><label for="id_hang">Я вешаю:</label></h5>
            <select id="id_hang" name="target" class="form-control vote-select{% if vote_hang %} vote-target{% endif %}">
            {% for participant in participants %}
                <option value="{{participant.id}}" class="{% if vote_hang and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Повешать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% if vote_hang %}
        <form action="" method="post" name="DismissHang">
            {% csrf_token %}
            <input type="text" name="vote_action" value="hang" hidden="" />
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}

{% if can_heal %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Лечение</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Heal">
            {% csrf_token %}
            <h5><label for="id_heal">Я лечу:</label></h5>
            <select id="id_heal" name="target" class="form-control vote-select{% if vote_heal %} vote-target{% endif %}">
            {% for participant in heal_targets %}
                <option value="{{participant.id}}" class="{% if vote_heal and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Вылечить" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% if vote_heal %}
        <form action="" method="post" name="DismissHeal">
            {% csrf_token %}
            <input type="text" name="vote_action" value="heal" hidden="" />
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}

{% if can_spoil %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Спаивание</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Spoil">
            {% csrf_token %}
            <h5><label for="id_spoil">Я спаиваю:</label></h5>
            <select id="id_spoil" name="target" class="form-control vote-select{% if vote_spoil %} vote-target{% endif %}">
            {% for participant in spoil_targets %}
                <option value="{{participant.id}}" class="{% if vote_spoil and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Напоить" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% if vote_spoil %}
        <form action="" method="post" name="DismissSpoil">
            {% csrf_token %}
            <input type="text" name="vote_action" value="spoil" hidden="" />
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}

{% if can_shoot %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Выстрел</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        {% if shoot_targets %}
        <form action="" method="post" name="Shoot">
            {% csrf_token %}
            <h5><label for="id_shoot">Я стреляю в:</label></h5>
            <select id="id_shoot" name="target" class="form-control vote-select{% if vote_shoot %} vote-target{% endif %}">
            {% for participant in shoot_targets %}
                <option value="{{participant.id}}" class="{% if vote_shoot and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-sm-6 col-centered submit-div">
                <input type="submit" name="action" value="Выстрелить" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% if vote_shoot %}
        <form action="" method="post" name="DismissShoot">
            {% csrf_token %}
            <input type="text" name="vote_action" value="shoot" hidden="" />
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
            </div>
        </form>
        {% endif %}
        {% else %}
        <h3>Нет доступных целей.</h3>
            {% if vote_shoot %}
            <form action="" method="post" name="DismissShoot">
                {% csrf_token %}
                <input type="text" name="vote_action" value="shoot" hidden="" />
                <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                    <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
                </div>
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}

{% if can_choose_leader %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Выбор главы мафии</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Leader">
            {% csrf_token %}
            <h5><label for="id_leader">Я выбираю:</label></h5>
            <select id="id_leader" name="target" class="form-control vote-select{% if vote_leader %} vote-target{% endif %}">
            {% for participant in leader_targets %}
                <option value="{{participant.id}}" class="{% if vote_leader and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Выбрать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if can_recruit %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Вербовка</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Recruit">
            {% csrf_token %}
            <h5><label for="id_recruit">Я вербую:</label></h5>
            <select id="id_recruit" name="target"  class="form-control vote-select">
            {% for participant in recruit_targets %}
                <option value="{{participant.id}}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Завербовать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if can_check %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Проверка</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Check">
            {% csrf_token %}
            <h5><label for="id_check">Я проверяю:</label></h5>
            <select id="id_check" name="target" class="form-control vote-select{% if vote_check %} vote-target{% endif %}">
            {% for participant in check_targets %}
                <option value="{{participant.id}}" class="{% if vote_check and forloop.counter == 1 %}vote-target-selected{% else %}vote-option{% endif %}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Проверить" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% if vote_check %}
        <form action="" method="post" name="DismissCheck">
            {% csrf_token %}
            <input type="text" name="vote_action" value="check" hidden="" />
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Удалить голос" class="btn btn-default btn-danger btn-block">
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}
<!--
{% if can_ask_killer %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Заявка киллеру</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Contract">
            {% csrf_token %}
            <h5><label for="id_contract">Я заказываю:</label></h5>
            <select id="id_contract" name="target"  class="form-control vote-select">
            {% for participant in participants %}
                <option value="{{participant.id}}">{{participant.mask.username}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Заказать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>

    </div>
</div>
{% endif %}
-->
{% if can_choose_side %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Выбор стороны</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        <form action="" method="post" name="Choose">
            {% csrf_token %}
            <h5><label for="id_choose">Я выбираю:</label></h5>
            <select id="id_choose" name="target" class="form-control vote-select">
                <option value="mafia_side">Мафию</option>
                <option value="militia_side">Милицию</option>
                <!--<option value="peaceful">Мирную жизнь</option>-->
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Присоедениться" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
    </div>
</div>
{% endif %}

{% if can_invite %}
<div class="row">
    <div class="col-md-4 col-centered text-center">
        <h3>Добавить в каюту</h3>
    </div>
</div>
<div class="row row-space">
    <div class="col-md-6 col-centered text-center">
        {% if invitees %}
        <form action="" method="post" name="Invite">
            {% csrf_token %}
            <h5><label for="id_invite">Я добавляю:</label></h5>
            <select id="id_invite" name="target"  class="form-control vote-select">
            {% for invitee in invitees %}
                <option value="{{invitee.id}}">{{invitee.get_literary_role}}</option>
            {% endfor %}
            </select>
            <div class="col-md-4 col-sm-6 col-xs-6 col-centered submit-div">
                <input type="submit" name="action" value="Пригласить" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
        {% else %}
        <h3>Нет доступных целей.</h3>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}{# end if game.day > 0 #}
{% endif %}{# end if not dead #}

{% endblock participant_actions %}