{% extends "mafiaapp/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-centered section text-center">
        <h1 class="font-forum">Восстановление пароля</h1>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#id_new_password1").addClass("form-control");
		$("#id_new_password1").css("display", "inline");
		$("#id_new_password1").css("max-width", "60%");

		$("#id_new_password2").addClass("form-control");
		$("#id_new_password2").css("display", "inline");
		$("#id_new_password2").css("max-width", "60%");
	})
</script>

<div class="row">
	<div class="col-md-5 col-centered text-center">
		{% if validlink %}
			<p><h3>Введите ваш новый пароль дважды.</h3></p>

			<form action="" method="post">
				{% csrf_token %}
				{{ form.new_password1.errors }}
				<p class="aligned wide">
					<label for="id_new_password1">Новый пароль:</label>
					{{ form.new_password1 }}
				</p>
				{{ form.new_password2.errors }}
				<p class="aligned wide">
					<label for="id_new_password2">Подтвердите пароль:</label>
					{{ form.new_password2 }}
				</p>
				<div class="col-md-3 col-centered submit-div">
                	<input type="submit" name="action" value="Сохранить" class="btn btn-default btn-primary btn-block">
            	</div>
			</form>
		{% else %}
			<p><h3>Ссылка для восстановления пароля недействительна. Возможно, она уже была использована ранее. Попробуйте восстановить пароль заново.</h3></p>
			<a href="{% url 'mafiaapp:password_reset' %}">Восстановить пароль?</a>
		{% endif %}
	</div>
</div>

{% endblock %}
