{% if messages %}
<div class="row">
    <div class="col-md-4 col-sm-7 col-xs-7 col-centered text-center">
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <div class="alert alert-info">
                    <h5><strong>{{ message }}</strong></h5>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <h5><strong>{{ message }}</strong><h5>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row post-section post">
    <div class="col-md-2 col-xs-2 col-sm-2 text-right padding-0">
        <a href="{% url 'mafiaapp:profile' user=post.author.user.nickname %}">
        <h3 id='author{{post.id}}'>{{ post.author.user.nickname }}</h3><br>
        <img src="{{ post.author.user.avatar.url }}" class="comment-avatar"/>
        </a>
        <br>
        <h6>Сообщений: {{ post.author.comments_number }}</h6>
    </div>
    <div class="col-md-8 col-sm-10 col-xs-10">
        <h3>{# placeholder to match height with nickname on the left #}</h3>
        <h6>{{ post.date|date:"Y-m-d H:i" }}</h6>
        <div id="{{post.id}}" class="content-markdown comment-item">{{ post.text }}</div>
        <div style="height:1px;overflow:hidden"><textarea id="ihatejs{{post.id}}" value="" style="margin-top:2px;"></textarea></div>
        {% if user.is_superuser %}
        <a href="/admin/mafiaapp/post/{{post.id}}" target="blank"><h4><input type="submit" value="Редактировать" class="btn btn-primary" ></h4></a>
        {% endif %}
        <h4 class="cite" onClick='show_quote({{post.id}},1);'>Цитировать</h4>
    </div>
    <div class="col-md-2"></div>
</div>