{% if messages %}
<div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 col-centered text-center">
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <div class="alert alert-info">
                    <strong>{{ message }}</strong>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row post-section post">
    <div class="col-md-2 col-xs-2 col-sm-2 text-right">
        <a href="{% url 'mafiaapp:profile' user=post.author.user.nickname %}">
        <h3 id='author{{post.id}}'>{{ post.author.user.nickname }}</h3><br>
        <img src="{{ post.author.user.avatar.url }}" class="comment-avatar"/>
        </a>
        <span>Сообщений: {{ post.author.comments_number }}</span>
    </div>
    <div class="col-md-8 col-xs-8 col-sm-8 col-centered">
        <h3>{# placeholder to match height with nickname on the left #}</h3>
        <span>{{ post.date|date:"Y-m-d H:i" }}</span>
        <div id="{{post.id}}" class="content-markdown comment-item">{{ post.text }}</div>
        <div style="height:1px;overflow:hidden"><textarea id="ihatejs{{post.id}}" value="" style="margin-top:2px;"></textarea></div>
        {% if user.is_superuser %}
        <span></span>
        <a href="/admin/mafiaapp/post/{{post.id}}" target="blank"><input type="submit" value="Редактировать" class="btn btn-primary" ></a>
        {% endif %}
      <span class="cite" onClick='show_quote({{post.id}},1);'><h3>Цитировать</h3></span>
    </div>
</div>