{% extends 'mafiaapp/base.html' %}
{% load filters %}
{% block content %}
<div class="wrap col-centered">

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-centered text-center">
		<h2>Завершение регистрации</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-centered">
		<form action="" method="POST" enctype="multipart/form-data" class="form-signin text-center">
			{% csrf_token %}

			{{ form.as_p|add_class2:'form-control'|safe }}
			<div class="col-md-8 col-centered">
				<input type="submit" value="Сохранить" class="btn btn-default btn-primary btn-block" />
			</div>
		</form>
	</div>
</div>

</div>
{% endblock content %}