{% load filters %}
{% load widget_tweaks %}

{{ game_comment_form.media }}
{% if not dead and participant or 'private' in post.tags and participant and gamse.state == 'current' or user.user.nickname in game.anchor or 'description' in post.tags or 'morgue' in post.tags and dead %}
    {% if post.allow_comment and user.is_authenticated %}
<div class="row">
    <div class="col-md-8 col-centered">
        <form action="" method="post" name="Reply">
            {% csrf_token %}
            {{ game_comment_form.comment }}

            <div class="col-md-4 col-sm-5 col-xs-5 col-centered submit-div" class="submit-div">
                <input type="submit" name="action" value="Опубликовать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
      $('#id_comment').summernote();
    });
</script>
    {% endif %}
{% endif %}