{% load filters %}

{{ game_comment_form.media }}

{% if not dead %}
    {% if post.allow_comment and user.is_authenticated %}
<div class="row">
    <div class="col-md-8 col-centered">
        <form action="" method="post" name="Reply">
            {% csrf_token %}
            {{ game_comment_form.number }}
            {{ game_comment_form.comment }}

            <div class="col-md-4 col-centered" style="padding-left:0px;padding-right:0px;margin-top:20px;margin-bottom:10px">
                <input type="submit" name="action" value="Опубликовать" class="btn btn-default btn-primary btn-block">
            </div>
        </form>
    </div>
</div>
    {% endif %}
{% endif %}