* {
	/*border: 1px solid red !important;*/
}
html {
  height: 100%;
  margin:0;
  padding:0;
}
body {
  font-family: "-apple-system", "BlinkMacSystemFont", "Open Sans", "Segoe UI", "Oxygen", 
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
	font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  color: #171212;
  background: #e6e6e6;
  height: 100%;
  margin:0;
  padding:0;
}
.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  -ms-flex-direction: column;
}
header {
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f5f5f5;
  font-size: 16px;
}
header a {
  text-decoration: none;
}
header img {
  height: 70px;
}
.header-title {
  font-size: 2.5em;
  line-height: 1.6em;
}
main {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
footer {
  text-align: center;
  background-color: #f5f5f5;
}
.index-body {
  background-color: #202020;
}
.index-cite {
  font-size: 4em;
  line-height: 1.4em;
  font-style:italic;
  color: #747784;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
}
.index-top10 {
  margin-top: 10%;
}
.index-top30 {
  margin-top: 25%;
}
option:not(:checked) { 
  background-color: #FFF;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.font-600 {
  font-weight:600;
}
.padding-0 {
  padding: 0;
}
.padding-0 a, h1, h2, h3, h4, h5, h6 {
  padding-right: 5px;
  text-decoration: none;
}
.notifyjs-copy-comment-base {
  opacity: 0.85;
  width: 200px;
  background: #F5F5F5;
  padding: 5px;
  border-radius: 10px;
}
.monospace {
  font-family: 'Consolas', "Courier New", 'monospace';
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  /*display: inline;*/
}
.disabled-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    pointer-events: none;
    background:inherit;
}
a {
  text-decoration: underline;
}
.row1 [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.row1{
  overflow: hidden; 
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.section {
  background:#d6d6d6;
  border-radius:8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post-section {
  background:#d6d6d6;
  border-radius:8px;
  margin-top: 20px;
}
.note-editable {
  font-size: 16px;
}
.wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}
.wrap h1, h2, h3, h4, h5, h6, span, img, label {
  display: inline;
  font-weight: 300;
}
.post {
  min-height:200px;
  padding-bottom: 20px;
}
.post img {
  max-height:120px;
  max-width:100%;
}
.comment {
  overflow:hidden;
  min-height:150px;
  padding-bottom: 20px;
}
.comment-item {
  white-space: pre-wrap;
  /*word-break: keep-all;*/
  border: 0px;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-size: 1.5em;
  line-height: 1.4em;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.comment-item p {
  margin-bottom: 0px;
}
.comment-avatar {
  height:90px;
  max-height:90px;
  max-width:100%;
  display: inline-block;
}
.comment-text {
  border-left: 1px #008BBA solid;
  border-right: 1px #008BBA solid;
  margin-bottom:-99999px;
  padding-bottom:99999px;
}
.comment-quote {
  background: #FFE3D1;
}
.cite {
  float:right;
  text-decoration:underline;
  cursor:pointer;
}
.cite-section {
  background:#ff9F80;
  border-radius:8px;
}
.img-post-locked {
  max-height: 30px;
}
.img-thumb-up {
  max-height:30px;
  cursor:pointer;
  display:inline;
  float:none;
}
.submit-div {
  padding-left:0px;
  padding-right:0px;
  margin-top:20px;
  margin-bottom:10px;
}
.row-space {
  margin-top:20px;
  margin-bottom:20px;
}
.vote-select {
  max-width:30%;
  display:inline-block;
}
.vote-target {
  background-color:lightgreen;
}
.vote-target-selected {
  background-color:lightgreen !important;
}
.vote-option {
  background-color:#fff;
}
.wmd-panel {
  margin: 0 auto !important;
  width: 100% !important;
}
@media (max-width: 991px) {
  .index-top10 {
    margin-top: 0;
  }
  .index-top30 {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 12px;
    line-height: 1.2em;
  }
}
.form-signin {
  padding: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin select {
  max-width:35%;
  display:inline-block;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  /*max-width: 330px;*/
  display: inline-block;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="number"] {
  max-width: 70px;
  display:inline-block;
}
.form-signin input[type="submit"] {
  margin-bottom: 20px;
}
.errorlist {
  padding: 15px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-top-color: #e4b9c0;
  color: #843534;
  content: "\e209";
}